.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.project-section {
  padding-bottom: 20px;
  padding-top: 40px;
}

.project-heading {
  text-align: center;
  font-family: Montserrat;
  color: $primary-color;
  font-size: 36px;
  margin-bottom: 30px;
  @media(max-width: 767px){
      text-align: center;
    }
}
.projects-list {
  .project-outer {
    margin-top: 30px;
    a {
      text-decoration: none;
      .project-inner {
        height: 100%;
        transition: all 0.2s;
        padding: 20px;
        .tech-stack {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          padding-left: 0px;
          li {
            margin: 2px;
            padding: 5px 10px;
          }
        }
      }
      h2 {
        display: inline-block;
        border-bottom: 3px solid transparent;
        width: 100%;
        transition: 0.5s ease;
        padding-bottom: 5px;
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
      h3 {
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
      &:hover {
        text-decoration: none;
        h2 {
          border-bottom: 3px solid $primary-color;
          width: 100%;
        }
        .project-inner {
          box-shadow: 0 21px 43px rgba(0, 0, 0, 0.15);
          transition: all 0.2s;
        }
      }
    }
  
    &:nth-of-type(even) {
      a {
        .project-inner {
          background-color: $primary-color;
          color: $white;
        }
        .tech-stack {
          li {
            border: 1px solid $white;
          }
        }
        &:hover {
          h2 {
            border-bottom: 3px solid $white;
          }
        }
      }
    }
    &:nth-of-type(odd) {
      a {
        .project-inner {
          background-color: $secondary-color;
          color: $primary-color;
        }
        .tech-stack {
          li {
            border: 1px solid $primary-color;
          }
        }
      }
    }
  }
}
