$primary-color: #263546;
$primary-color-light: #404f60;
$secondary-color: #eeb14f;
$secondary-color-dark: #bb7e1c;
$white: #ffffff;

$twitter: #1da1f2;
$facebook: #3b5998;
$instagram: #e1306c;
$linkedin: #0077b5;
$github: #4078c0;
