html {
  background-color: $primary-color;
}

a {
  transition: color 0.2s;
  &:hover {
    transition: color 0.2s;
  }
}

.button {
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-family: Montserrat;
  font-size: 30px;
  text-decoration: none;

  &.primary-button {
    border: 3px solid $primary-color;
    background-color: $primary-color;
    color: $white;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      border: 3px solid $white;
      transition: all 0.2s;
    }
  }
}