.banner-background.container-fluid {
  background-image: url('./images/lake_small.jpeg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  position: relative;
  @media(max-width: 768px){
    min-height: 400px;
  }
}

.services {
  display: flex;
  justify-content: space-around;
}

.about {
  display: flex;
  .about-image {
    background-image: url('./images/yung_josh.JPG');
    min-height: 400px;
    background-size: cover;
  }
}