.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.twitter:hover {
  border-color: #1da1f2;
}

.facebook:hover {
  border-color: #3b5998;
}

.instagram:hover {
  border-color: #e1306c;
}

.linkedin:hover {
  border-color: #0077b5;
}

.github:hover {
  border-color: #4078c0;
}

.profile-image-container {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 150px;
  margin: auto;
  overflow: hidden;
  justify-content: center;
  width: 150px;
}

.profile-image {
  height: 200px;
  border-radius: 30px;
}



.social-media-row ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

.social-media-row ul li {
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  color: transparent;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.2s;
  cursor: pointer;
}

.social-media-row ul li:hover {
  transition: border-color 0.2s;
  color: white;
}

.social-media-row a {
  color: transparent;
}

.social-media-row ul li:hover a {
  color: white;
}

.social-media-row ul li:first-of-type {
  margin-left: 0px;
}

.site-header {
  background-color: #263546;
  color: #EEB14F;
  padding-top: 50px;
  padding-bottom: 50px;
}

.site-header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.site-header h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.homepage-intro {
  background-color: white;
  color: #263546;
  padding-top: 50px;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

.homepage-intro p {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

.homepage-intro a {
  text-decoration: none;
  color: #EEB14F;
  font-weight: 400;
}


.intro-bio h3 {
  margin-top: 0px;
}










