/* Variables
   ============================= */

$primary-color: #263546;
$primary-color-light: #404F60;
$secondary-color:  #EEB14F;
$secondary-color-dark: #BB7E1C;
$white: #FFFFFF;

$twitter: #1da1f2;
$facebook: #3b5998;
$instagram: #e1306c;
$linkedin: #0077b5;
$github: #4078c0;


/* Global Styles & Layout
   ============================= */


    html {
      background-color: $primary-color;
    }

    a {
      transition: color 0.2s;
      &:hover {
        transition: color 0.2s;
      }
    }

/* Nav
   ============================= */

.main-menu {
  margin-top: 20px;
  padding-top: 10px;
  position: absolute;
  z-index: 2;
  ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0px;
  }
  li {
    margin-right: 20px;
    &:last-of-type {
      margin-right: 50px;
    }
  }
  a {
    color: $secondary-color;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
      color: $secondary-color-dark;
      text-decoration: none;
      transition: all 0.2s;
    }
  }
}


/* Header
   ============================= */

.site-header {
  background-color: $primary-color;
  color: $secondary-color;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  > .row {
    display: block;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
  }

  h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
  }

  .profile-image-container {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 150px;
    overflow: hidden;
    justify-content: center;
    width: 150px;
    margin: auto;
  }

  .intro-section {
    align-items: center;
    color: $white;
    display: flex;
    text-align: left;
    > div {
      background-color: $primary-color-light;
      padding: 20px;
    }
    a {
      color: $secondary-color;
      font-size: 18px;
      &:hover {
        color: $secondary-color-dark;
        text-decoration: none;
      }
    }
    p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  .social-media-row {
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin-bottom: 0px;
      padding-left: 0px;
    }
    li {
      margin-left: 10px;
      background-color: transparent;
      border: 2px solid $secondary-color;
      border-radius: 50%;
      color: transparent;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border-color 0.2s;
      cursor: pointer;
      &:first-of-type {
        margin-left: 0px;
      }
      &:hover {
        transition: border-color 0.2s;
        color: white;
        a {
          color: $white;
        }
      }
    }
    a {
      color: $white;
    }
  }

  .profile-image {
    height: 200px;
    border-radius: 30px;
  }


  .twitter:hover {
    border-color: $twitter;
  }

  .facebook:hover {
    border-color: $facebook;
  }

  .instagram:hover {
    border-color: $instagram;
  }

  .linkedin:hover {
    border-color: $linkedin;
  }

  .github:hover {
    border-color: $github;
  }

}

/* Blog Post
   ============================= */

.homepage-blog {
  background-color: white;
  color: #263546;
  padding-top: 50px;
  text-align: left;
  .blog-content {
    margin-bottom: 20px;
  }
 .blog-centered {
    display: flex;
    justify-content: center;
  }
  .date-posted {
    font-size: 16px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
  }
  a {
    color: $secondary-color;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s;
    &:hover {
      color: $secondary-color-dark;
      transition: color 0.2s;
    }
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 0 0 20px 0;
  }
  li {
    font-size: 20px;
    font-family: 'Lora', serif;
  }
  ul {
    margin-bottom: 20px;
  }
}

/* Footer
   ============================= */

.site-footer {
  background-color: $primary-color;
  padding-top: 20px;
  padding-bottom: 20px;
  p {
    color: $white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
  }
  .footer-contact-info {
    text-align: right;
  }
}



/* Bootstrap default query sizes */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


@media (max-width: 768px) {
  .profile-section {
    margin-bottom: 50px;
  }
  .main-menu {
    width: 100%;
    ul {
      // width: 100%;
      display: flex;
      justify-content: center;
      li {
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }

  .project-outer {
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
    }
  }
 }


/* Projects Page
   ============================= */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.project-outer {
  margin-top: 30px;
  a {
    .project-inner {
      height: 100%;
      transition: all 0.2s;
      padding: 20px;
      .tech-stack {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
        li {
          margin: 2px;
          padding: 5px 10px;
        }
      }
    }
    h2 {
      display: inline-block;
      border-bottom: 3px solid transparent;
      width: 0px;
      transition: 0.5s ease;
      white-space: nowrap;
      padding-bottom: 5px;
    }
    &:hover {
      text-decoration: none;
      h2 {
        border-bottom: 3px solid $primary-color;
        width: 100%;
      }
      .project-inner {
        box-shadow: 0 21px 43px rgba(0, 0, 0, 0.15);
        transition: all 0.2s;
      }
    }
  }

  &:nth-of-type(even) {
    a {
      .project-inner {
        background-color: $primary-color;
        color: $white;
      }
      h2 {
        border-bottom: 3px solid $white;
      }
      .tech-stack {
        li {
          border: 1px solid $white;
        }
      }
    }
  }
  &:nth-of-type(odd) {
    a {
      .project-inner {
        background-color: $secondary-color;
        color: $primary-color;
      }
      .tech-stack {
        li {
          border: 1px solid $primary-color;
        }
      }
    }
  }
}







